<footer>
    <div class="section-footer">
        <div class="section-left" matTooltip="Ir a PcGroup">
            <a href="http://www.pcgroupsa.com" target="_blank"><img src="../../../../assets/images/logo-pcg.png" alt="50px" width="50px"></a>
        </div>
        <div class="section-center">
            <span>Copyright &copy; 2023</span>
            <span>Elaborado por PCGroup SA</span>
            <!-- <a href="http://www.pcgroupsa.com" target="_blank" rel="noopener noreferrer">www.pcgroupsa.com</a> -->
        </div>
        <!-- <div class="section-right">
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div> -->
    </div>
</footer>