<button mat-menu-item="" class="mat-mdc-menu-item mat-mdc-focus-indicator mdc-list-item p-x-32 p-y-16" role="menuitem" tabindex="0" aria-disabled="false">
    <span class="mdc-list-item__primary-text">
      <div class="d-flex align-items-center">
        <img width="48" class="rounded-circle" src="../../../../assets/images/perfil.png">
        <div class="notify">
          <h5 class="f-s-14 f-w-600 m-0 mat-subtitle-1"> Roman Joined the Team! </h5>
          <span>Congratulate him</span>
          <p>Hace 5 minutos</p>
        </div>
      </div>
    </span>
    <div matripple="" class="mat-ripple mat-mdc-menu-ripple"></div><!---->
</button>