<div class="profile">
    <div class="section-name">
        <span>{{fechaActual | date: 'fullDate'}}</span>
        <h1>Bienvenido, Nombre Usuario</h1>
        <img src="../../../../assets/images/perfil.png" width="58" class="rounded-circle">
    </div>
    <mat-divider></mat-divider>

    <div class="row mt-3">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card style="height: 400px;">

            </mat-card>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card style="height: 400px;">
                
            </mat-card>
        </div>
    </div>
</div>